section#request_form h2 {
  padding-top: 40px;
  font-weight: 700;
  font-size: 1.6667em;
}
section#request_form #form fieldset {
  width: 450px;
}
section#request_form #form {
  padding: 20px 0px 50px 150px;
  position: relative;
}
section#request_form #form label{
  margin: 5px 0px;
  float: left;
  clear: both;
}
section#request_form #form select {
  padding: 4px 0px 2px 4px;
  border: 1px solid #ddd;
  margin: 0px;
  height: 28px;
  line-height: 28px;
  float: left;
  display: block;
}
section#request_form #form .error {
  border: 1px solid #FF0000 !important;
}
section#request_form button.under_message {
  float: left;
  margin-left: 120px;
}
section#request_form #form textarea.message {
  width: 200px;
  padding: 4px 0px 2px 4px;
  border: 1px solid #ddd;
  margin: 0px;
  height: 80px;
  float: left;
  display: block;
}
section#request_form #form input {
  width: 200px;
  padding: 0px 3px;
  border: 1px solid #ddd;
  margin: 0px;
  height: 28px;
  line-height: 28px;
  float: left;
  display: block;
  font-weight: 400;
}

section#request_form #form label span{
  width: 120px;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  float: left;
  display: block;
}
