
body#goodies section#feature_area { height:225px; }
body#features section#feature_area { height:225px; }
body#pricing section#feature_area { height:225px; }
body#webinars section#feature_area { height:140px; }
body#request-a-demo section#feature_area { height:145px; min-height:145px;}

nav#fixed_nav { top:-163px; height:75px;}
nav#fixed_nav .inner { width:90%; }
nav#fixed_nav .inner .drk_gry_rnd_btn { float:none; width:110px; margin:0 auto; }
nav#fixed_nav div#links{float:none; clear:both; margin:0 auto; width:580px; }
nav#fixed_nav div#links a{ margin-left:20px; }

header.mainNav { height:245px;  }
header nav a { float:none; margin:0; }
nav#cms-mainnav { width:100%; }
nav#cms-mainnav h1 { width:273px; margin:0 auto 30px; float:none; }
nav#cms-mainnav .links { width:715px; margin:0 auto; float:none; }
header nav .links a{ float:left; width:130px; margin:5px; padding:10px 0; text-align:center; background:#fafafa; border:1px solid #ddd; border-radius:5px; }
header nav .links a.login { width:145px; margin:10px 37.8%; padding:3px 10px; clear:both; font-weight:400; font-size:17px;}

section#feature_area{ padding:30px 0; }
#features section#feature_area .getStarted p { text-align:center;}
section#feature_area .getStarted { width:155px; }
section#feature_area .getStarted p { width:85px; margin:5px auto 0; float:none;}
body#goodies section#feature_area { height:175px;}
body#goodies section#feature_area h2{ font-size:42px;}
section#feature_area.home { padding:25px 0 0 0;}
section#feature_area.home h2 { font-size:38px; margin:30px 0 5px; text-align:center; }
section#feature_area.home h3 { font-size:36px; text-align:center;}
section#feature_area .inner { width:95%; }
section#feature_area #cms-feature-area.col-a { width:48%; margin-bottom:0; }
section#feature_area *.drk_gry_rnd_btn { padding:0 20px; float:left; text-align:center; margin:-26px 0 0 .2%; }
section#feature_area.home p { margin:-32px 0 0 15px; float:left; width:36%; }
section#feature_area .inner .joinFree { clear:both; width:	69%; }

section#focus_area .inner { width:100%; }
section#focus_area ul#blt_items { width:96%; margin:0 auto; }
section#focus_area ul#blt_items li { width:22%; margin:0 1.5%; }
section#focus_area div#bullet_points img#arc-1 { left:118px; }
section#focus_area div#bullet_points img#arc-b { left:305px; }
section#focus_area div#bullet_points img#arc-c { left:455px; }
section#focus_area div#bullet_points img#arc-d { left:545px; }

section#counter_area .inner { width:100%; }
section#counter_area p { width:85%; margin:0 auto; }

section#goodies_area .inner { width:100%; }
section#goodies_area div.col-a { width:38%; margin-left:25px; }
section#goodies_area div.col-a ul#app_icons li { width:60px;}
section#goodies_area div.col-b { margin:80px 8% 0; width:42%; }
section#goodies_area div.col-b a.lte_gry_rnd_btn { width:120px; margin:0 auto; float:none;}

section#writeup_area .inner { width:100%; }
section#webinars_list div.inner { width:95%; }

section#writeup_area div.quote_sec a.readmore { bottom:-15px; }

section#resource_pins div.inner { width:95%; text-align:center; }
section#resource_pins #resource_pins_description, section#resource_pins #resource_pins_description_chrome { float:none; margin:20px auto; text-align:left; width:307px; }
section#apps { padding:45px 0;}
section#apps div.inner { width:95%; }
section#apps #cc_app_ipad { width:100%; }
section#apps #cc_app_iphone { width:14%; }
section#apps div#app_icons { width:100%; }
section#apps div#app_icons div.app_info { width:95%; text-align:center; height:265px;}
section#apps div#app_icons div.app_info img.app_icon { margin:0; }
section#apps div#app_icons div.app_info h4{margin:15px 0;}
section#apps div#app_icons div.app_info p{width:50%;}
section#apps div#app_icons div.app_info a { padding:0 8px; }
section#apps div#app_icons div.app_info a.apple:hover:after{content:" Apple"; text-align:center; left:12px; }
section#apps div#app_icons div.app_info a.android:hover:after{content:" Android"; text-align:center; left:5px; }
section#apps div#app_icons div.app_info a.amazon:hover:after{content:" Amazon"; text-align:center; left:3px; }
section#apps div#app_icons div.app_info a.windows:hover:after{content:" Windows"; text-align:center; left:1px; }

section#testimony_area .inner { width:100%; }

footer .inner { width:95%; }

section.feature_bank div.inner { width:95%; }
body#features section#feature_area .getStarted { width:245px; position:relative; top:18px; } 
section.feature_bank div.col-a { width:25%; margin-right:30px; float:left;}
section.feature_bank div.col-b { width:70%; float:left;}
section.feature_bank div.col-b div.feature_block { width:450px; margin-top:25px;}
section.feature_bank div.col-b div.feature_block p { width:400px; }
section.feature_bank div.col-b div.feature_block i { position:relative; top:-4px;}
aside.modalContainer .content .screenshots .img_wrapper { width:710px; margin:0 auto; }
aside.modalContainer .content .screenshots .img_wrapper img { max-width:700px; }
aside.modalContainer .content .screenshots .img_wrapper { position:relative; }
aside.modalContainer .content .screenshots .img_wrapper #prev { left:18px; background:#fff; opacity:.7;}
aside.modalContainer .content .screenshots .img_wrapper #next { right:18px; background:#fff; opacity:.7;}
aside.modalContainer .content .screenshots .thumbs { width:100%; }
aside.modalContainer .content .screenshots .thumbs ul li { max-width:100px; }

body#pricing section#feature_area { min-height:140px; height:140px;}
section#pricing_questions div.inner { width:95%; text-align:center;}
section#pricing_questions div.col-a { width:95%; float:none; }
section#pricing_questions div.col-b { width:95%; float:none; }

section#website_widget div.inner { width:95%; }
section#website_widget div#cc_app_screenshot { width:46%;}
section#website_widget img#cc_app_website { left:265px;}
section#website_widget img#cc_app_website_zoom2 { top:-42px; right:-470px; }
section#website_widget #embed_left.embed_ccapp {  width:95%; text-align:center; margin-bottom:20px; }
section#website_widget #embed_right.embed_ccapp { float:left; width:95%; text-align:center; margin-bottom:20px;  }
section#website_widget .embed_ccapp code{ width:100%;  }

section#teacher_quotes div.inner { width:95%; text-align:center;}
section#teacher_quote div.inner { width:95%; }

section#pricing_table div.inner { width:95%; }
section#pricing_table table#pricing_grid { width:98%; }
section#pricing_table div#pricing_grid_header div.pricing_tab { width:160px;}
section#pricing_table div#pricing_grid_header div.pricing_tab.blank { right:49%;}
section#pricing_table div#pricing_grid_header div.pricing_tab.teacher { right:26%;}
section#pricing_table div#pricing_grid_header div.pricing_tab.school { right:4%;}
section#pricing_table div#pricing_grid_header div.pricing_tab h5 { width:160px;}
section#pricing_table div#pricing_grid_header div.pricing_tab a { float:none; margin:0 auto; width:88px;}	
section#pricing_table table#pricing_grid tr.button_row td a.lte_gry_rnd_btn { margin-left:28px;}

body#jobs section#feature_area div.inner {margin-bottom: -55px; background-position:15px 146px; background-size:95%; }
#request-a-demo section#feature_area { min-height:215px;}
section#request_demo div.inner { width:95%;}
section#request_form h3 { line-height:2em;}
section#request_form p { width:65%;}
section#request_form div.inner { width:95%; text-align:center;}
section#request_form div.inner .lte_gry_rnd_btn { float:none; margin:0 auto;}
section#request_form div.col-a { width:95%; float:left; }
section#request_form div.col-b { width:95%; float:left; }
section#request_form div.form_area fieldset { width:375px; margin:0 auto; float:none;}
section#request_form div.form_area fieldset.col-a { float:none; width:50%;}
section#request_form div.form_area fieldset.col-b { float:none; width:50%;}
section#request_form div.form_area fieldset.col-ab { float:none; width:50%;}
section#request_form div.form_area { border-bottom:none;}
section#request_form div.form_area fieldset label span.label { text-align:left;}
section#request_form div.form_area fieldset label input {  width:210px; height:40px; float:left;}
section#request_form div.form_area fieldset label input.short { width:34px;}
section#request_form div.form_area fieldset label select { width:220px;}
section#request_form div.form_area fieldset.col-ab label textarea  { width:360px;}
section#request_form div.form_area fieldset label.note { float:left; width:400px; text-align:left;}

body.contact_tabs section#request_form .inner.one_off { width:100%; }
body.contact_tabs section#request_form .inner.one_off #tabs-triggers { width:95%; margin:0 auto; }
body.contact_tabs section#request_form .contact_type { width:30%; }
body.contact_tabs section#request_form div.form_area .techForm { width:100%; margin:0 auto; float:none; }
body.contact_tabs section#request_form div.form_area fieldset.col-a { width:315px; float:left; }
body.contact_tabs section#request_form div.form_area fieldset.col-b { width:330px; float:left; }
body.contact_tabs section#request_form div.form_area fieldset.col-ab { float:left; width:365px;}
body.contact_tabs section#request_form div.form_area fieldset label input { width:150px; }
section#request_form div.inner .lte_gry_rnd_btn { clear:both; }

body#contest section#focus_area .inner { width:95%; text-align:center; }
body#contest section#focus_area p { width:100%; }
body#contest section#focus_area img#pin_contest_icon { margin:0 0 15px 0; width:50px;}
body#contest section#contest_area .inner { width:95%; }
body#contest section#contest_area p { width:95%;}
body#contest section#contest_area div#breakdown { background-position:40px 0; width:100%; }
body#contest section#contest_area div#breakdown ul { margin:0 auto; }
body#contest section#contest_detail .inner { width:95%; }
body#contest section#contest_detail p { width:95%;}

section#ourVideos .inner { width:95%; }
section#ourVideos .inner img.mr_archibald { width:235px;}

/*------------- CSS for report cards landing page -------------*/
body#report_cards header.mainNav { height:67px; }
body#report_cards header img { position:relative; top:-31px; max-width:100%; }
body#report_cards section.feature_section .centered { width:95%; }
body#report_cards section.feature_section #card_reveal { width:265px; top:9px; height:266px; }
body#report_cards section.feature_section #card_reveal #opaque { position:absolute; bottom:-18px; left:-23px; opacity:.9; height:66px; width:300px; background:#fff; }
body#report_cards section.feature_section #card_reveal #rnd { position:absolute; top:-35px; left:-217px; }
body#report_cards section.feature_section #card_reveal #rec { position:absolute; top:68px; right:-150px; }
body#report_cards section.feature_section #report_card_vid { width:515px; height:320px; margin:0 auto; }
body#report_cards section.feature_section #report_card_vid #willardVideo { width:480px!important; height:271px!important; margin:0 auto;}
body#report_cards section.feature_section #report_card_vid #willard_report_card { width:480px!important; height:271px!important; margin:0 auto;}
body#report_cards section.feature_section #grading { width:100%; }
body#report_cards section.feature_section.one #nav { bottom:54px; width:100%;}
body#report_cards section.feature_section.one #nav ul { width:682px;}
body#report_cards section.feature_section.one #nav ul.fixed { width:782px; }
body#report_cards section.feature_section.one #nav ul li img { top:23px; }
body#report_cards section.feature_section.one #nav ul li a { padding:20px 10px; }
body#report_cards section.feature_section.one #nav.fixed ul li a { padding:25px 10px;}


/*------------- CSS for MasteryCon landing page -------------*/

body#masterycon section div.inner { width:95%; float:none; }

section#feature_area h2 { font-size:48px; }
body#masterycon section .hideMobile { display:none; }
section.feature_section.one.mcon #mcon_logo { float:left; margin:30px 0 30px 60px; width:25%; }
section.feature_section.one.mcon #mcon_header { float:left; width:63%; margin:65px auto; }
body#masterycon section.feature_section.one #nav { display:none; }

body#masterycon section#ride_comet { padding:25px 0;}

body#masterycon section#be_presenter { padding:25px 0;}

body#masterycon section#gen_schedule {padding:25px 0; }
body#masterycon section#gen_schedule div.col-a { width:30%; }
body#masterycon section#gen_schedule div.col-b { width:70%; margin:35px 0 0 0; }

body#masterycon section#plan_trip { padding:25px 0; }
body#masterycon section#plan_trip div.col-a h3 { text-align:left; margin:15px auto 25px; width:95%; }
body#masterycon section#plan_trip div.col-b #activity_pics { margin:35px 0; }
body#masterycon section#plan_trip div.col-b #activity_pics li { width:26%;}


/*------------- CSS for NEWSROOM page -------------*/

body#newsroom section .showMobile { display:none; }

body#newsroom section.feature_section#feature_area { padding:55px 0; }
body#newsroom section.feature_section.one #nav.fixed {  top:123px; }
body#newsroom section.feature_section.one #nav ul.fixed { width:410px; }

body#newsroom section.feature_section#in_news { background-color:#f5f5f5;padding:170px 0 90px 0;border-bottom:1px solid #ddd; }
body#newsroom section.feature_section#in_news div.col-a { width:22%;float:left; padding-left:15px; }
body#newsroom section.feature_section#in_news div.col-b { width:47%; float:left; }

body#newsroom section.feature_section#press_releases { background-color:#fff;padding:150px 0 90px 0;border-bottom:1px solid #ddd; }
body#newsroom section.feature_section#press_releases div.col-a { width:22%;float:left; padding-left:15px; }
body#newsroom section.feature_section#press_releases div.col-b { width:47%; float:left; }

body#newsroom section.feature_section#downloads { background-color:#f5f5f5;padding:150px 0 90px 0;border-bottom:1px solid #ddd; }
body#newsroom section.feature_section#downloads div.col-a { width:22%;float:left; padding-left:15px; }
body#newsroom section.feature_section#downloads div.col-b { width:47%; float:left; }
body#newsroom section.feature_section#downloads div.col-b ul li.outlet { margin:0 0 45px 0; }



body#proposal_form section.feature_section.one { width:750px; margin: 0 auto; }
body#proposal_form header.mainNav { background:#8dc63f; height:67px;  }
body#proposal_form header img { position:relative; top:-33px; max-width:100%; }

body#system_down { position:relative; height:100%; width:100%; }
body#system_down header.mainNav { background:#8dc63f; height:107px;  }
body#system_down div.inner { width:100%; text-align:center; }
body#system_down section a.green { color:#6ea523; text-decoration:none; }
body#system_down header img { position:relative; top:-13px; max-width:100%; }
body#system_down section.feature_section.one { width:100%; padding:150px 0 135px 0; margin: 0 auto; border-top:1px solid #999; height:450px; }
body#system_down section.feature_section.one h1 { font-size:38px; font-weight:700; text-align:center; margin:10px 0; }
body#system_down section.feature_section.one h2 { font-size:18px; font-weight:500; text-align:center; }
body#system_down section.feature_section p { font-size:14px; line-height:26px; width:550px; margin:35px auto 55px; text-align:center; }
body#system_down footer#footer_nav { background:#e0f6c7; height:70px; width:100%; position:relative; bottom:-10px; border-top:3px solid #000;}
body#system_down footer#footer_nav #footer_wrap { width:450px; margin:0 auto; }
body#system_down footer#footer_nav img { float:left; }
body#system_down footer#footer_nav p { float:right; color:#444;}

section#company_story div.inner { width:95%; margin:0 auto;}
section#company_story div.col-a { width:26%;}

section#company_story div.inner, section#company_compensation div.inner, section#company_culture div.inner, section#company_openings div.inner { width:95%; margin:0 auto; text-align:center;}
section#company_story div.col-a, section#company_compensation div.col-a, section#company_culture div.col-a, section#company_openings div.col-a { width:165px; float:none; margin:0 auto;}
section#company_story div.col-b, section#company_compensation div.col-b, section#company_culture div.col-b, section#company_openings div.col-b { width:95%; float:none; margin:0 auto;}
section#company_culture div.col-a, section#company_compensation div.col-a { width:220px; }
section#company_openings div.col-a { width:250px; }

aside.modalContainer .content { width:95%; margin-left:-50%; }
aside.modalContainer .content #dialog { width:91%; }
aside.modalContainer .content #dialog .dialog_content { float:none; width:100%;}
aside.modalContainer .content #dialog form span { float:left; width:125px;}
aside.modalContainer .content #dialog form span.required { width:25px;}
aside.modalContainer .content #dialog form#new_teacher div.details { width:350px;}
aside.modalContainer .content #dialog form#new_teacher select { width:140px; }
aside.modalContainer .content #dialog form#new_teacher textarea, #dialog form#new_teacher input { width:140px;}
aside.modalContainer .content #dialog form#new_teacher div.subjects { float:left;}
aside.modalContainer .content #dialog form#new_teacher div.subjects select { width:150px; float:left;}
aside.modalContainer .content .jobListing h3 { margin-left:10px;}
aside.modalContainer .content .jobListing li { list-style-type:circle;}
aside.modalContainer .content .jobListing .copy { width:95%; padding:10px;}

section#how_it_began div.inner { width:95%;}
section#how_it_began div.col-a { width:95%; float:none; margin:0 auto;}
section#how_it_began div.col-b { width:95%; float:none; margin:10px; }
section#how_it_began div.col-a p, section#how_it_began div.col-b p { width:95%; text-align:center; }
