

nav#fixed_nav { top:-345px; padding:3px 0;}
nav#fixed_nav .inner { width:90%; }
nav#fixed_nav .inner .drk_gry_rnd_btn { float:none; width:105px; margin:0 auto 5px; height:30px; line-height:30px; font-size:14px; text-align:center; }
nav#fixed_nav div#links{float:none; clear:both; margin:0 auto; width:300px; }
nav#fixed_nav div#links a{ margin:0 5px 2px 5px; width:135px; text-align:center; border:1px solid #ddd; display:inline-block; padding:0; border-radius:5px;  }

header.mainNav { height:235px;  }
header.mainNav { padding:15px 0 0;}
header nav a { float:none; margin:0; }
nav#cms-mainnav { width:100%; }
nav#cms-mainnav h1 { width:273px; margin:0 auto 15px; float:none; }
nav#cms-mainnav .links { width:285px; margin:0 auto; float:none; }
header nav .links a { float:left; width:130px; margin:5px 5px; padding:7px 0; text-align:center; background:#fafafa; border:1px solid #ddd; border-radius:5px; }
nav#cms-mainnav .teacherLogin { margin:0 auto; width:145px; float:none; }
header nav a.login {font-size:17px; font-weight:400;}

section div.centered { width:97%; margin:0 auto;}
section#feature_area  { padding:30px 0; height:auto; min-height:100px; width:100%;}
#features section#feature_area .getStarted p { text-align:center;}
section#feature_area .getStarted { width:300px; }
section#feature_area .getStarted p { margin:10px auto;}
section#feature_area div.col-a { width:95%; margin:0 auto; float:none;}
body#goodies section#feature_area h2 { font-size:30px;}
body#goodies section#feature_area { min-height:0; height:230px;}
body#thank-you section#feature_area { min-height:50px; height:150px;}
body#webinars section#feature_area { height:105px; min-height:125px;}
body#pricing section#feature_area { min-height:0; height:175px;}
body#request-a-demo section#feature_area { height:150px; min-height:150px}
body#about section#feature_area { height:145px; min-height:145px;}
section#feature_area p { text-align:center;}
section#feature_area h2 { font-size:29px; text-align:center; line-height:38px; float:none;}
body#purchase-bubblescore section#feature_area h3, body#get-started section#feature_area h3 { font-size:30px;}
section#feature_area.home { height:325px; padding:10px 0 0; }
section#feature_area.home h2 { text-align:center; font-size:33px; line-height:42px; margin-bottom:10px;}
section#feature_area h3 { font-size:28px; text-align:center; }
section#feature_area div.inner { width:95%; }
section#feature_area *.drk_gry_rnd_btn { padding:0 20px; margin:20px auto 0; text-align:center; width:45%; float:none;}
section#feature_area .slideDeck { float:none; margin:0 auto; width:285px; }
section#feature_area #pager { left:125px;}
section#feature_area .inner .joinFree { clear:both; float:none; margin:0 auto; width:310px; }
section#feature_area .inner .joinFree p { width:95%; }
section#feature_area #posters { border:3px solid #fff; margin:0 auto; width:275px; height:182px; }
section#feature_area #posters img { width:275px;height:183px;}

section#focus_area { padding:65px 0; }
section#focus_area .inner { width:70%; }
section#focus_area ul#blt_items { width:96%; margin:0 auto; }	
section#focus_area ul#blt_items li { width:95%; margin:15px 0; }

section#counter_area {padding:50px 0;}
section#counter_area .inner { width:100%; }
section#counter_area #counters_container {margin:20px auto; text-align:center; width:450px;}
#content section#counter_area .flip-counter ul.cd { width:40px;}
section#counter_area h3 { width:85%; margin:0 auto; }
section#counter_area p { width:85%; margin:0 auto; }

#goodies section#goodies_area { min-height:355px;}
section#goodies_area { padding:65px 0; }
section#goodies_area .inner { width:90%; }
section#goodies_area div.col-a { width:95%; margin: 0 auto; float:none; text-align:center;}
section#goodies_area div.col-b { width:95%; margin: 0 auto; float:none; padding:50px 0;}
section#goodies_area div.col-b h3 { line-height:40px; width:95%; }
section#goodies_area div.col-a ul#app_icons.three-across li { width:17%; margin-left:20px;}
section#goodies_area div.col-b a.lte_gry_rnd_btn { margin:0 auto; width:120px; float:none;}

section#testimony_area { padding:65px 0; }
section#testimony_area .inner { width:90%; }
section#testimony_area .inner div.col-a, section#testimony_area .inner div.col-b { width:95%; float:none; margin: 0 auto;}
section#testimony_area div#quote_img { margin:0 auto; float:none; clear:both; display:block;}

section#writeup_area { padding:65px 0; }
section#writeup_area .inner { width:90%; }
section#writeup_area p { margin-bottom:25px;}
section#writeup_area div.quote_sec { width:95%; padding:30px 0 0;}
section#writeup_area div.quote_sec a.readmore { bottom:0; }

footer .inner { width:90%; }
footer#footer_nav div#cta { width:100%; }
footer#footer_nav address{ width:36%; margin:0 15px 20px 0; }
footer#footer_nav nav { width:25%; margin:0 7px 15px; }
footer#footer_nav nav h4 { font-size:14px; }
footer#footer_nav nav ul li { line-height:3em; }

section#request_form div.inner { width:95%; }

section#pricing_table div.inner { width:320px; }
section#pricing_table table#pricing_grid tr { display:inline-block; width:320px; }
section#pricing_table table#pricing_grid td { width:100px; text-align:left; }
section#pricing_table table#pricing_grid td.call { font-size:11px;}
section#pricing_table div#pricing_grid_header div.pricing_tab { width:68px;}
section#pricing_table div#pricing_grid_header div.pricing_tab h5 { width:68px;}
section#pricing_table div#pricing_grid_header div.pricing_tab a { float:none; margin:0 auto; width:55px; font-size:11px;}
section#pricing_table div#pricing_grid_header div.pricing_tab .lte_gry_rnd_btn span { padding:0 25px 0 0; }
section#pricing_table div#pricing_grid_header div.pricing_tab.blank h3 { padding:18px 0; }
section#pricing_table table#pricing_grid tr.button_row td a.lte_gry_rnd_btn { margin-left:0; padding-left:14px;}
section#pricing_table div#pricing_grid_header div.pricing_tab h3 { font-size:1em;}
section#pricing_table div#pricing_grid_header div.pricing_tab a.lte_gry_rnd_btn { padding-left:12px;}
section#pricing_table div#pricing_grid_header div.pricing_tab h4 { font-size:.7em;}
section#pricing_table div#pricing_grid_header h2 { font-size:1em;}

section#pricing_questions div.col-b {  margin:0 auto;}

section.feature_bank { width:95%; margin:0 auto;}
section.feature_bank div.inner { width:95%; float:none; text-align:center;margin: 0 auto;}
section.feature_bank div.col-a { width:95%; float:none; margin: 0 auto;}
section.feature_bank div.col-a h3 { float:none; }
section.feature_bank div.col-a img { float:none; }
section.feature_bank div.col-a img.porthole { margin-top:25px; float:none;}
section.feature_bank div.col-b { width:95%; float:none;margin: 0 auto;}
section.feature_bank div.col-b div.feature_block { width:100%; margin-top:30px;}
section.feature_bank div.col-b div.feature_block p { width:75%; float:left;}
section.feature_bank div.col-b div.feature_block.col1 { margin:15px 0; }
section.feature_bank div.col-b div.feature_block.col2 { margin:15px 0; }
section.feature_bank div.col-b div.feature_block i { position:relative; top:-4px;}

section#teacher_quote div.inner { width:95%; text-align:center;}
section#teacher_quote blockquote { font-size:2.1em;}

#pricing section#feature_area { min-height:235px;}
section#pricing_questions div.inner { width:95%; text-align:center;}
section#pricing_questions div.col-a { width:95%; float:none; }
section#pricing_questions div.col-b { width:95%; float:none; }

section#resource_pins div.inner { width:95%; text-align:center; }
section#resource_pins #resource_pins_description, section#resource_pins #resource_pins_description_chrome { width:100%; float:none; margin-top:45px; }
section#resource_pins #resource_pins_description_chrome h4 { width:80%; float:none; margin:0 auto;}

section#apps { padding:45px 0;}
section#apps div.inner { width:95%; }
section#apps #cc_app_ipad { width:100%; }
section#apps #cc_app_iphone { width:14%; margin-top:43px;}
section#apps div#app_icons { width:100%; }
section#apps div#app_icons div.app_info { width:95%; text-align:center; margin-top:25px; height:300px;}
section#apps div#app_icons div.app_info img.app_icon { margin:0; }
section#apps div#app_icons div.app_info h4{margin:15px 0;}
section#apps div#app_icons div.app_info a { padding:0 4px; }
section#apps div#app_icons div.app_info a.apple:hover:after{content:" Apple"; text-align:center; left:8px; }
section#apps div#app_icons div.app_info a.android:hover:after{content:" Android"; text-align:center; left:1px; }
section#apps div#app_icons div.app_info a.amazon:hover:after{content:" Amazon"; text-align:center; left:-1px; }
section#apps div#app_icons div.app_info a.windows:hover:after{content:" Windows"; text-align:center; left:-3px; }

section#website_widget div.inner { width:95%; }
section#website_widget div#cc_app_screenshot { width:46%; height:250px;}
section#website_widget img#cc_app_website { left:100px;}
section#website_widget img#cc_app_website_zoom1 { top:25px;}
section#website_widget img#cc_app_website_zoom2 { top:-54px; right:-145px; }
section#website_widget #embed_left.embed_ccapp {  width:95%; text-align:center; margin-bottom:20px; }
section#website_widget #embed_right.embed_ccapp { float:left; width:95%; text-align:center; margin-bottom:20px;  }
section#website_widget .embed_ccapp code{ width:100%; height:8em;}

body.contact_tabs section#request_form .inner.one_off { width:100%; }
body.contact_tabs section#request_form .inner.one_off #tabs-triggers { width:95%; margin:0 auto; }
body.contact_tabs section#request_form .contact_type { float:none; width:95%; margin:55px auto 0; padding:0; }
body.contact_tabs section#request_form .contact_type p { width:65%; }
body.contact_tabs section#request_form .select_contact_type { margin:0 0 200px 0; }
body.contact_tabs section#request_form div.form_area { height:650px; padding:0; margin:100px 0; }
body.contact_tabs section#request_form div.form_area h3 { margin-top:35px; }
body.contact_tabs section#request_form div.form_area a.back_top { top:15px; right:5px; }
body.contact_tabs section#request_form div.form_area fieldset { margin:0 auto;}
body.contact_tabs section#request_form div.form_area fieldset label { width:93%; }
body.contact_tabs section#request_form div.form_area fieldset label input { width:135px; }
body.contact_tabs section#request_form div.form_area fieldset.col-a { width:330px; }
body.contact_tabs section#request_form div.form_area fieldset.col-b { width:330px; }
body.contact_tabs section#request_form div.form_area fieldset.col-ab { width:100%; }
body.contact_tabs section#request_form div.form_area fieldset.col-ab label textarea { width:175px; }
body.contact_tabs section#request_form div.form_area fieldset.col-ab label span.label{ width:115px; }
body.contact_tabs section#request_form div.form_area *.lte_gry_rnd_btn { margin: 10px auto; }
body#report_cards section.feature_section .btn_center img { width:205px; }

#webinars section#feature_area { height:150px; min-height:150px;}
section#webinars_list div.inner { width:95%; text-align:center;}
section#webinars_list div.col-a { width:95%; }
section#webinars_list div.col-b { width:95%; }

section#webinars_list { padding:45px 0;}
section#webinars_list div.col-b h2 { margin:0 0 25px;}
section#webinars_list a.sml_sq_btn { background:#ddd; height:40px; width:250px; text-align:center; line-height:40px; font-size:15px; margin:0 auto;}
section#webinars_list a.sml_sq_btn span { float:none; background:none;}

section#request_demo { padding:0 0 55px 0; }
section#request_demo div.inner { width:95%; text-align:center;}
section#request_demo div.inner h3 { margin-bottom:15px;}
section#request_demo div.col-a { width:95%; }
section#request_demo div.col-b { width:95%; }
section#request_demo a.sml_sq_btn { background:#ddd; height:40px; width:300px; text-align:center; line-height:40px; font-size:15px; margin:0 auto;}
section#request_demo a.sml_sq_btn span { float:none; background:none;}

#request-a-demo section#feature_area { min-height:215px;}
section#request_form h3 { line-height:2em;}
#about section#request_form p { width:88%;}
section#request_form p { width:65%;}
section#request_form div.inner { width:95%; text-align:center;}
section#request_form div.inner .lte_gry_rnd_btn { float:none; margin:0 auto;}
section#request_form div.col-a { width:95%; float:left; }
section#request_form div.col-b { width:95%; float:left; }

section#request_form div.form_area fieldset.col-a, section#request_form div.form_area fieldset.col-b { float:none; width:95%; display:inline-block; margin:0 auto;}
section#request_form div.form_area { border-bottom:none;}
section#request_form div.form_area fieldset label { width:100%;}
section#request_form div.form_area fieldset label span.label { text-align:left;}
section#request_form div.form_area fieldset label input { width:130px; height:40px; float:left;}
section#request_form div.form_area fieldset label input.lrg { width:130px; height:40px; }
section#request_form div.form_area fieldset label input.short { width:34px;}
section#request_form div.form_area fieldset label select { width:138px;}
section#request_form div.form_area fieldset label.note { float:left; width:270px; text-align:left;}
section#request_form div.form_area fieldset label input.med  { width:38px; }
section#request_form div.form_area fieldset.col-b label textarea { width:285px;}
section#request_form div.form_area fieldset.col-b { float:none; margin:0 auto; width:95%;}
section#request_form div.form_area fieldset.col-ab { width:90%; margin:0 auto; float:none; }
section#request_form div.form_area fieldset.col-ab label textarea { width:280px;}
section#request_form div.form_area fieldset label textarea { width:280px;}

body#contest section#focus_area .inner { width:95%; text-align:center; }
body#contest section#focus_area p { width:100%; }
body#contest section#focus_area img#pin_contest_icon { margin:0 0 15px 0; width:50px;}
body#contest section#contest_area .inner { width:95%; }
body#contest section#contest_area p { width:95%;}
body#contest section#contest_area div#breakdown { background-position:45px 160px; width:100%; padding:0 0 75px 0;}
body#contest section#contest_area div#breakdown ul { margin:0 auto; float:none;}
body#contest section#contest_detail .inner { width:95%; }
body#contest section#contest_detail p { width:95%;}

section#ourVideos .inner { width:95%; }
section#ourVideos .inner img.mr_archibald { width:165px; top:-185px;}
section#ourVideos .slideDeck { width:310px; }
section#ourVideos #posters{width:280px;height:172px;}

section#teacher_quotes div.inner { width:95%; float:none; }
section#teacher_quotes div.hr hr{width:95%;}	
section#teacher_quotes div.quote { padding:15px 0 0;}
section#teacher_quotes div.quote blockquote { font-size:1.4em;}

/*------------- CSS for report cards landing page -------------*/
body#report_cards header.mainNav { height:67px; }
body#report_cards header.mainNav img { top:-15px; }
body#report_cards section.feature_section { padding:70px 0; }
body#report_cards section.feature_section.one { padding:30px 0 15px 0; }
body#report_cards section.feature_section.one h1 { font-size:28px!important;  }
body#report_cards section.feature_section h2 { font-size:16px!important;}

body#report_cards section.feature_section h1 { font-size:22px!important; line-height:30px; }
body#report_cards section.feature_section h3 { font-size:16px!important; }
body#report_cards section.feature_section.one { padding:70px 0 0 0;}
body#report_cards section.feature_section.one #nav { bottom:0; }
body#report_cards section.feature_section.one #nav ul { width:88%; border-left:1px solid #ddd; border-right:1px solid #ddd; }
body#report_cards section.feature_section.one #nav ul li { width:100%; float:none; border:none; border-top:1px solid #ddd; border-left:none!important;}
body#report_cards section.feature_section.one #nav ul li a { padding:15px 0; border:none;}
body#report_cards section.feature_section #report_card_vid { width:280px; height:175px; margin:0 auto; padding:10px; }
body#report_cards section.feature_section #report_card_vid #willardVideo { width:260px!important; height:146px!important; margin:0 auto; padding:9px;}
body#report_cards section.feature_section #report_card_vid #willard_report_card { width:260px!important; height:146px!important; margin:0 auto;}
body#report_cards section.feature_section .centered { width:95%; }
body#report_cards section.feature_section p.quote { font-size:18px; }
body#report_cards section.feature_section p.quote_man { font-size:14px; }
body#report_cards section.feature_section #card_reveal { top:20px; width:245px; height:164px; }
body#report_cards section.feature_section #card_reveal #opaque { position:absolute; bottom:-62px; left:-23px;  opacity:.9; height:66px; width:200px; background:#fff; }
body#report_cards section.feature_section #card_reveal #rnd { position:absolute; top:-23px; left:-80px; }
body#report_cards section.feature_section #card_reveal #rec { position:absolute; top:45px; right:-70px; }
body#report_cards section.feature_section #grading { width:88%; }
body#report_cards section.feature_section #grading img { float:none; width:95%; }
body#report_cards section.feature_section #grading #bullets { width:95%; float:none; }
body#report_cards section.feature_section #grading #bullets header { width:100%; margin-bottom:40px; }
body#report_cards section.feature_section #grading #bullets ul { margin-top:15px; }
body#report_cards section.feature_section #grading #bullets p img { width:38px; top:-15px; right:-41px; }

/*------------- CSS for MasteryCon landing page -------------*/
body#masterycon section { overflow:hidden;}
body#masterycon section .showMobile { display:block; }
body#masterycon section div.inner { width:95%; float:none; margin:0 auto; }
body#masterycon section .hideMobile { display:none; }
section.feature_section.one.mcon #mcon_logo { float:none; margin:0 auto; width:95%; }
section.feature_section.one.mcon #mcon_header { float:none; width:95%; margin:25px auto; }
body#masterycon section.feature_section.one #nav { display:none; }

body#masterycon section#ride_comet { padding:25px 0;}
body#masterycon section#ride_comet #comet_image { width:285px; }
body#masterycon section#ride_comet p { width:95%; }

body#masterycon section#be_presenter { padding:25px 0;}
body#masterycon section#be_presenter p { width:95%; }
body#masterycon section#be_presenter #presenters { width:95%;}
body#masterycon section#be_presenter #presenters li { float:none; margin:0 auto;}
body#masterycon section#be_presenter #presenters li.two, #presenters li.three, #presenters li.four, #presenters li.five { display:none; }

body#masterycon section#gen_schedule {padding:25px 0; }
body#masterycon section#gen_schedule div.col-a { float:none; margin:15px auto 25px; width:95%; text-align:center; }
body#masterycon section#gen_schedule div.col-b { float:none; margin:0 auto; width:95%;}
body#masterycon section#gen_schedule div.col-b .con_day h4 { text-align:center;}
body#masterycon section#gen_schedule div.col-b .con_day .session li {margin:0 auto; text-align:center; margin:0 0 15px 0; }
body#masterycon section#gen_schedule div.col-b .con_day .session li .time { width:100%; color:#555;}

body#masterycon section#plan_trip { padding:25px 0; }
body#masterycon section#plan_trip div.col-a { width:100%;}
body#masterycon section#plan_trip div.col-a h3 { text-align:center; margin:15px auto 25px; width:95%; }
body#masterycon section#plan_trip div.col-b { width:95%; text-align:left; }
body#masterycon section#plan_trip div.col-b #activity_pics { width:95%; margin:10px auto 25px; }
body#masterycon section#plan_trip div.col-b #activity_pics li { width:32%; }
body#masterycon section#plan_trip div.col-b .lists { overflow:hidden; }
body#masterycon section#plan_trip div.col-b li { margin:0 0 15px 0; }


/*------------- CSS for NEWSROOM page -------------*/

body#newsroom section .hideMobile { display:none; }
body#newsroom section div.inner { width:94%; }

body#newsroom section.feature_section#feature_area div.inner.main { width:95%; }
body#newsroom section.feature_section#feature_area div.inner.main h4 { width:95%; }
body#newsroom section.feature_section#feature_area { padding:55px 0; }
body#newsroom section.feature_section.one #nav { display:none; }
body#newsroom section.feature_section.one #nav ul.fixed { width:410px; }

body#newsroom section.feature_section#in_news { background-color:#f5f5f5;padding:70px 0 50px 0;border-bottom:1px solid #ddd; }
body#newsroom section.feature_section#in_news div.col-a { width:94%;float:none; margin:0 auto 45px; }
body#newsroom section.feature_section#in_news div.col-b { width:95%; float:none; margin:0 auto; }

body#newsroom section.feature_section#press_releases { background-color:#fff;padding:70px 0 50px 0;border-bottom:1px solid #ddd; }
body#newsroom section.feature_section#press_releases div.col-a { width:94%; float:none; margin:0 auto 45px;}
body#newsroom section.feature_section#press_releases div.col-b { width:95%; float:none; margin:0 auto; }

body#newsroom section.feature_section#downloads { background-color:#f5f5f5;padding:70px 0 50px 0;border-bottom:1px solid #ddd; }
body#newsroom section.feature_section#downloads div.col-a { width:94%; float:none; margin:0 auto 45px;}
body#newsroom section.feature_section#downloads div.col-b { width:95%; float:none; margin:0 auto; }
body#newsroom section.feature_section#downloads div.col-b ul li div.logo_down { float:none; }


body#proposal_form section.feature_section.one { width:320px; margin: 0 auto; }
body#proposal_form header.mainNav { background:#8dc63f; height:68px;  }
body#proposal_form header img { position:relative; top:-15px; max-width:100%; }

body#system_down { position:relative; height:100%; width:100%; }
body#system_down header.mainNav { background:#8dc63f; height:107px;  }
body#system_down section a.green { color:#6ea523; text-decoration:none; }
body#system_down header img { position:relative; top:7px; max-width:100%; }
body#system_down div.inner { width:100%; text-align:center; }
body#system_down section.feature_section.one { width:100%; padding:90px 0 105px 0; margin: 0 auto; border-top:1px solid #999; height:600px; }
body#system_down section.feature_section.one h1 { font-size:38px; font-weight:700; text-align:center; margin:10px 0; }
body#system_down section.feature_section.one h2 { font-size:18px; font-weight:500; text-align:center; }
body#system_down section.feature_section p { font-size:14px; line-height:26px; width:100%; margin:35px auto 55px; text-align:center; }
body#system_down footer#footer_nav { background:#e0f6c7; height:70px; width:100%; position:relative; bottom:-10px; border-top:3px solid #000;}
body#system_down footer#footer_nav #footer_wrap { width:220px; margin:0 auto; }
body#system_down footer#footer_nav img { display:none; }
body#system_down footer#footer_nav p { float:none; }

#jobs section#feature_area { height:125px; min-height:125px;}
body#jobs section#feature_area div.inner {margin-bottom: -55px; background-position:15px 88px; background-size:95%; height: 180px;}
#jobs section#feature_area h2 { line-height:20px;}
aside.modalContainer .content { width:93%; margin-left:-50%; max-height:96%; overflow:auto;}
aside.modalContainer .content header h1 { font-size:20px; line-height:35px; text-align:center; margin-top:5px;}
aside.modalContainer .content #dialog { width:90%; padding:0; margin:0 auto; float:none; clear:both;}
aside.modalContainer .content #dialog .dialog_content { float:none; width:100%; padding:0;}
div.videos { overflow:auto; max-height:415px;}
div.videos div#video-player { float:none; width:100%; height:95%; margin:0 auto; padding:0; text-align:center; }
div.videos div#video-player .video-js-box.vjs-playing, .video-js-box.vjs-paused { margin:0 auto; }
div.videos #social_links { top:4px;}
aside.modalContainer .content #dialog div#video_posters { width:100%; margin:10px auto; float:none;}
aside.modalContainer .content #dialog div#video_posters a { float:left; margin:10px 0 0 10px; width:26%;}
aside.modalContainer .content #dialog form { text-align:left;}
aside.modalContainer .content #dialog form#new_teacher { width:99%;}
aside.modalContainer .content #dialog form#new_teacher label { width:125px;}
aside.modalContainer .content #dialog form#new_teacher select, aside.modalContainer .content #dialog form#new_teacher input { width:100px;}
aside.modalContainer .content #dialog form#new_teacher div.details { width:100%; float:none; margin:0 auto;}
aside.modalContainer .content #dialog form#new_teacher div.subjects { width:100%; margin:0 auto; float:none;}
aside.modalContainer .content #dialog .subjects #referral_fields { clear:both;}
aside.modalContainer .content #dialog form button, #content form button { width:45%; margin:20px 0;}
aside.modalContainer .content #dialog form button.lrg_orn_button span { width:85px;}
aside.modalContainer .content #dialog form span { float:left; width:125px;}
aside.modalContainer .content #dialog form span.required { width:25px;}
aside.modalContainer .content #dialog form span.contactme { width:220px;}
aside.modalContainer .content header { width:99%;}
aside.modalContainer .content header h1 { width:80%;}
aside.modalContainer .content .jobListing { width:99%;}
aside.modalContainer .content .jobListing h3 { margin-left:10px;}
aside.modalContainer .content .jobListing li { list-style-type:circle;}
aside.modalContainer .content .jobListing .copy { width:93%; padding:10px;}
#about section#feature_area { height:200px; min-height:200px;}

section#company_story div.inner, section#company_compensation div.inner, section#company_culture div.inner, section#company_openings div.inner { width:95%; margin:0 auto; text-align:center;}
section#company_story div.col-a, section#company_compensation div.col-a, section#company_culture div.col-a, section#company_openings div.col-a { width:165px; float:none; margin:0 auto;}
section#company_story div.col-b, section#company_compensation div.col-b, section#company_culture div.col-b, section#company_openings div.col-b { width:95%; float:none; margin:0 auto;}
section#company_culture div.col-a, section#company_compensation div.col-a { width:220px; }
section#company_openings div.col-a { width:250px; }
section#company_openings div.col-b div.position_department div.position a.position_title { width:50%;}
section#company_openings div.col-b div.position_department div.position a.position_location { width:45%;}

section#how_it_began div.inner { width:95%;}
section#how_it_began div.col-a { width:95%; float:none; margin:0 auto;}
section#how_it_began div.col-b { width:95%; float:none; margin:10px; }
section#how_it_began div.col-a p, section#how_it_began div.col-b p { width:95%; text-align:center; }

footer#footer_nav nav { width:28%; }
footer#footer_nav address { width:95%; }
footer#footer_nav nav a:hover:after{content:"";}

