.graph .info div {
  float: left;
}
#counters_container {overflow: hidden; clear:both;margin-top:15px;}
//#counters_container.compact { margin-top: 20px; }
.counter_holder{float:left;padding:10px 0;margin:20px 20px 26px 0;width:320px;}
#counters_container.compact .counter_holder{margin-top:0;padding-bottom: 0;}
.counter_holder h1{text-align:left;color:#333;font-family:'Open Sans', sans-serif;font-weight:300;}
	
#content .flip-counter ul.cd{float:left;list-style-type:none;margin:0;padding:0;height:77px;width:53px;position:relative;}
#content .flip-counter li{background:url(../im/digits.png) 0 0 no-repeat; border:0;margin:0;padding:0;}
#content .flip-counter li.t{background-position:0 0;width:53px;height:39px;position:absolute;top:0;left:0;}
#content .flip-counter li.b{background-position:0 0;width:53px;height:38px;position:absolute;bottom:0;left:0;}
#content .flip-counter li.s{background-position:-53px -1030px;width:14px;height:103px;position:absolute;top:0;left:0;}

#comparison_chart_m {
  border: 1px solid #69a500;
  margin-bottom: 10px;
}
#comparison_chart_nm {
  border: 1px solid #fac800;
  margin-bottom: 10px;
}
#comparison_chart_r {
  border: 1px solid #a30900;
}

#comparison_chart_m_label img,
#comparison_chart_nm_label img,
#comparison_chart_r_label img {
  display: block;
}

.modal .student-list h1 {
  font-weight: normal;
  font-size: 18px;
  float: none;
}

.modal .student-list h2 {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 0px;
  float: none;
}

.modal .student-list h3 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 7px;
  float: none;
}

.modal .student-list h3.first {
  margin-top: 0px;
}

.modal .student-list h3 span {
  font-weight: normal;
}

.modal .student-list h4 {
  margin-bottom: 7px;
}

.modal .student-list hr.teacher-divider {
  border-top: 1px solid #eee;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.modal .student-list hr.school-divider {
  border-top: 1px solid #ccc;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.modal .student-list ul,
.modal .student-list ul li {
  list-style: none;
}

.modal .student-list ul {
  margin-bottom: 0;
  overflow: hidden;
  float: left;
  width: 405px;
}

.modal .student-list ul li {
  padding: 0 0 0 15px;
}

.modal .student-list ul.mastery li {
  background: url(../im/benchmark/dotMastery.gif) no-repeat center left;
}
.modal .student-list ul.near_mastery li {
  background: url(../im/benchmark/dotNearMastery.gif) no-repeat center left;
}
.modal .student-list ul.remediation li {
  background: url(../im/benchmark/dotRemedial.gif) no-repeat center left;
}
.modal .student-list ul.no_score li {
  background: url(../im/benchmark/dotNoScore.gif) no-repeat center left;
}

.mastery-tab {
  background-color: #69a500;
}
.near-mastery-tab {
  background-color: #fac800;
}
.remediation-tab {
  background-color: #a30900;
}
