/*------------------ Reset CSS ------------------- */
html { overflow-y:scroll; height:100%;overflow: hidden; }
body { height:100%; overflow: auto; }
body, button, dd, div, dl, dt, fieldset, form, input, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, textarea, ul { margin:0; padding:0; }
body, h1, h2, h3, h4, h5, h6 { font:300 13px/1.5 'Open Sans', sans-serif; }
button, input { color:#555555; font:300 13px 'Open Sans', sans-serif; }
table { border-collapse:collapse; border-spacing:0; font:inherit; }
fieldset, img { border:none; }
address, caption, cite, code, em, th, h1, h2, h3, h4, h5, h6 { font-style:normal; font-weight:600; }
caption, th { text-align:left; }
ol, ul, li { list-style:none; text-indent:0; }
button, input[type="button"], input[type="submit"] { overflow:visible; cursor:pointer; }
button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner { border:none; margin:0; outline:none; padding:0; }
button:focus, button:active, input:focus, input:active { outline:none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; margin:0; padding:0; }
/*--------------- Links -------------------- */
a { text-decoration:none; }
p a, p .link, a:hover, a:active, a:focus, a.underline, button.underline { text-decoration:underline; }
.link { -webkit-appearance:none; background:none; border:0; -webkit-box-shadow:none; box-shadow:none; color:#445708; cursor:pointer; padding:0; text-decoration:none; text-align:left; }
.link:active,
.link:hover,
.link:focus { text-decoration:underline; }
/*------------------------------------------- */
/*--------------- Type defaults -------------------- */
/* Other type elements */
strong,
b { font-weight:bold; }
cite,
em,
i { font-style:italic; }
.thin { font-weight:300; }
.light-bold { font-weight:500; }
.semi-bold { font-weight:600; }
.bold { font-weight:700; }
.italic { font-style:italic; }
.slightSpace { letter-spacing:.05em; }
.spaced { letter-spacing:.2em; }
/********************************************************************************/
/****************************************
	Responsive Show/Hide classes
****************************************/
/* IE 7 */
.r .show768,
.r .show480,
.r .show320 { *display:none !important; }
/* IE 8 */
@media \0screen {
	.r .show768,
	.r .show480,
	.r .show320 { display:none\0/ !important; }
}
/* Large Screen */
@media only screen and (min-width:1006px) {
	.r .show768,
	.r .show480:not(.hide768),
	.r .show320:not(.hide768):not(.hide480),
	.r .show768.hide480.show320 { display:none !important; }
}
/* Not Large Screen */
@media only screen and (max-width:1005px) {
	.r body #GlobalWrpr { min-width:320px; padding:0; width:auto; }
}
/* iPad Portait */
@media only screen and (min-width:768px) and (max-width:1005px) {
	.r .hide768,
	.r .show480:not(.show768),
	.r .show320:not(.show768) { display:none !important; }
}
/* iPhone Landscape */
@media only screen and (min-width:480px) and (max-width:767px) {
	.r body { -webkit-text-size-adjust:none; }
	.r .hide768:not(.show480),
	.r .hide480,
	.r .show320:not(.show480) { display:none !important; }
}
/* iPhone Portrait */
@media only screen and (max-width:479px) {
	.r body { -webkit-text-size-adjust:none; }
	.r .hide768:not(.show480):not(.show320),
	.r .hide480:not(.show320),
	.r .hide320 { display:none !important; }
}

/****************************************
	Helper Classes
****************************************/

* html .clearfix, *:first-child+html .clearfix { display:block; zoom:1; }
.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
img { max-width:100%; }

body{background:#E8E8EA;padding:0;margin:0;font-family:'Open Sans',Arial,Helvetica,Tahoma,sans-serif;font-size:12px;line-height:1.33em;font-weight:400;color:#555;-webkit-font-smoothing: antialiased;}

::-moz-selection{background-color:#9cc957;}
::selection{background-color:#9cc957;}

form{margin:0;padding:0;border:0;}
form button{border:0;outline:0;padding:0;margin:0;cursor:pointer;}
form input:focus, form textarea:focus, form select:focus{outline: #8dc63f auto 5px;}

nav#fixed_nav{border-bottom:1px solid #666;height:auto;padding:24px 0 23px;background:#8dc63f url(//www.masteryconnect.com/learn-more/im/green_band.jpg) repeat center center;position:fixed;top:-100px;left:0;z-index:50;width:100%;}
nav#fixed_nav div#links{float:right;width:75%;}
nav#fixed_nav div#links a{text-shadow:0 -1px 0 rgba(0,0,0,.5);float:left;margin:11px 0 11px 30px;color:#FFF;font-size:17px;font-weight:600;text-decoration:none;line-height:30px;transition:color 0.3s;-webkit-transition:color 0.3s}
nav#fixed_nav div#links a:hover{color:#CCC;}

header{border-top:10px solid #333;height:92px;padding:43px 0 0;background-color:#fff;text-align:center;margin:0;}
header nav{width:978px;margin:0 auto;text-align:left;}
header nav h1{padding:0;float:left;width:273px;height:42px;overflow:hidden;text-indent:-9999px;margin:0;background: url(//www.masteryconnect.com/learn-more/im/mc_logo.png);}
header nav .links { float:left; margin-left:12px;}
header nav .links ul { float:left; list-style-type:none; }
header nav .links ul li { float:left; }
header nav .links a, header nav a.login {float:left;margin:12px 0 12px 30px;color:#555;font-size:17px;font-weight:400;text-decoration:none;line-height:30px;transition:color 0.3s;-webkit-transition:color 0.3s}
header nav a.login { font-size:13px; font-weight:700;}
header nav a:hover{color:#333;}
header nav .teacherLogin { float:right; }

div.inner{width:978px;margin:0 0;text-align:left;}

div.clear_fix{clear:both;}
div.clear_fix:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }

section div.centered{width:100%;text-align:center;}

*.caps{text-transform:uppercase;}

body *.right{float:right;}
body *.left{float:left;}
body *.none{float:none;}

*.green{color:#8dc63f;}

* a.bs{color:#6fa3d3;text-decoration:none;}

* a.sml_sq_btn{height:24px;background:url(//www.masteryconnect.com/learn-more/im/sml_grey_square_button_left.png) no-repeat top left;display:block;padding-left:6px;font-size:10px;line-height:24px;font-weight:700;text-transform:uppercase;font-style:normal;color:#555;text-shadow:0 1px 0 #fff;text-decoration:none;transition:color 0.3s;-webkit-transition:color 0.3s;}
* a.sml_sq_btn span{padding:0 14px 0 8px;background:url(//www.masteryconnect.com/learn-more/im/sml_grey_square_button_right.png) no-repeat top right;float:left;display:block;}
* a.sml_sq_btn:hover{color:#333; text-decoration:none;}
a.sml_sq_btn { text-decoration:none; cursor:pointer; }

* a.sq_btn{height:30px;background:url(//www.masteryconnect.com/learn-more/im/grey_square_button_left.png) no-repeat top left;display:block;padding-left:10px;font-size:12px;font-weight:700;text-transform:uppercase;font-style:normal;color:#555;text-decoration:none;transition:color 0.3s;-webkit-transition:color 0.3s;}
* a.sq_btn span{padding-right:10px;background:url(//www.masteryconnect.com/learn-more/im/grey_square_button_right.png) no-repeat top right;float:left;display:block;}
* a.sq_btn:hover{color:#333;}
a.sq_btn { text-decoration:none; cursor:pointer;}

*.drk_gry_rnd_btn{
	height:45px;
	background:#444;
	display:block;
	padding:0 40px;
	text-shadow:0 1px 1px rgba(0,0,0,.6);
	font-size:16px;
	line-height:45px;
	font-weight:700;
	text-transform:uppercase;
	font-style:normal;
	color:#FFF;
	text-decoration:none;
	transition:color 0.3s;
	-webkit-transition:color 0.3s;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	letter-spacing:0.2em;
	}

*.drk_gry_rnd_btn.sml{height:40px;width:143px;padding:0 20px; text-align:center;color:#eee;letter-spacing:0.175em;font-size:12px;line-height:40px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
*.drk_gry_rnd_btn:hover{color:#ccc; text-decoration:none;}
a.drk_gry_rnd_btn { text-decoration:none; cursor:pointer;}
#home *.drk_gry_rnd_btn, #fixed_nav *.drk_gry_rnd_btn, #features *.drk_gry_rnd_btn { background:#eaa443;
	border:2px solid rgba(0, 0, 0, .5);
	background-image: -moz-linear-gradient(top, #edb15d, #e4902f);
	background-image: -ms-linear-gradient(top, #edb15d, #e4902f);
	background-image: -o-linear-gradient(top, #edb15d, #e4902f);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#edb15d), to(#e4902f));
	background-image: -webkit-linear-gradient(top, #edb15d, #e4902f);
	background-image: linear-gradient(top, #edb15d, #e4902f);
}
.ie9 .home *.drk_gry_rnd_btn, .ie9 #fixed_nav *.drk_gry_rnd_btn {background:#eaa443; border:2px solid rgba(31, 37, 22, .7);}
#home *.drk_gry_rnd_btn:hover { color:#f3f3f3; }

*.med_gry_rnd_btn{height:37px;background:url(//www.masteryconnect.com/learn-more/im/medium_grey_rounded_button_left.png) no-repeat top left;display:block;padding-left:21px;font-size:12px;font-style:normal;line-height:37px;font-weight:700;text-transform:uppercase;color:#333;text-decoration:none;text-shadow:0 1px 0 #fff;transition:color 0.3s;-webkit-transition:color 0.3s;border-radius: 26px;margin:25px 45px 0 0;}
*.med_gry_rnd_btn span{height:37px;display:block;background:url(//www.masteryconnect.com/learn-more/im/medium_grey_rounded_button_right.png) no-repeat top right;padding:0 40px 0 19px;}
*.med_gry_rnd_btn:hover{color:#111; text-decoration:none;}
a.med_gry_rnd_btn { text-decoration:none; cursor:pointer;}

*.lte_gry_rnd_btn{height:33px;background:url(//www.masteryconnect.com/learn-more/im/grey_rounded_button_left.png) no-repeat top left;display:block;padding-left:18px;padding-right:18px;font-size:12px;font-style:normal;line-height:33px;font-weight:700;text-transform:uppercase;color:#555;text-decoration:none;transition:color 0.3s;-webkit-transition:color 0.3s;float:left;border-radius: 26px}
*.lte_gry_rnd_btn span{height:33px;display:block;background:url(//www.masteryconnect.com/learn-more/im/grey_rounded_button_right.png) no-repeat top right;padding:0 30px 0 11px;}
*.lte_grn_rnd_btn{height:60px;text-decoration:none;background:url(//www.masteryconnect.com/learn-more/im/green_rounded_button_left.png) no-repeat top left;display:block;padding-left:31px;font-size:15px;font-style:normal;line-height:60px;font-weight:700;text-transform:uppercase;color:#fff;text-decoration:none;transition:color 0.3s;-webkit-transition:color 0.3s;float:left;text-shadow: 0 1px 1px rgba(0,0,0,.4);}
*.lte_grn_rnd_btn:hover { text-decoration:none;}
*.lte_grn_rnd_btn span{height:60px;display:block;background:url(//www.masteryconnect.com/learn-more/im/green_rounded_button_right.png) no-repeat top right;padding:0 40px 0 11px;}
*.vry_lrg_gry_rnd_btn {height:33px;background:#f0f0f0;border-radius:15px;border:1px solid #bbb;display:block;padding-left:19px;font-size:12px;font-style:normal;line-height:33px;font-weight:700;text-transform:uppercase;color:#555;text-decoration:none;transition:color 0.3s;-webkit-transition:color 0.3s;}
*.vry_lrg_gry_rnd_btn.dark {background:#ddd;}
*.vry_lrg_gry_rnd_btn.darker {background:#bbb; border:1px solid #777; color:#fff; }
*.vry_lrg_gry_rnd_btn span{height:33px;display:block;padding:0 30px 0 11px; text-align:center;}

*.lte_gry_rnd_btn:hover{color:#333; text-decoration:none;}
*.lte_grn_rnd_btn:hover{}
a.lte_gry_rnd_btn { text-decoration:none; cursor:pointer;}

span.gc-cs-link{color:inherit;text-decoration:inherit;}

section div.col-b hr{width:100%;border:0;border-top:1px solid #ddd;height:0;float:left;clear:both;margin:30px 0;}

section#feature_area {min-height:130px;background:#8dc63f url(//www.masteryconnect.com/learn-more/im/green_band.jpg) repeat center top;padding:55px 0;border-bottom:1px solid #ddd;}
section#feature_area.home { height:320px; padding:70px 0 0;}
section#feature_area.home .joinFree { margin-top:25px;}
section#feature_area h2{font-weight:700;color:#fff;font-size:58px;text-shadow:0 0 5px #464646;margin:0;padding:0;line-height:68px;float:left;width:100%;text-align:center;}
section#feature_area h2.longtext{font-size:52px;}
section#feature_area.home h2 { text-align:left;}
section#feature_area h4 b{font-weight:600;}
section#feature_area hr{border:0;height:0;width:100%;float:left;clear:both;margin:20px 0;}
section#feature_area p{font-size:.83em;font-style:normal;letter-spacing:0.2em;font-weight:400;color:#fff;text-shadow:0 0 5px #464646;margin:6px 0;padding:0;line-height:20px;width:100%;text-align:center;}
#features section#feature_area p { text-align:center; width:65%; float:none; margin:5px auto;}
section#feature_area div.col-a{width:57.25%;float:left;margin-bottom:40px;}
section#feature_area p b{font-weight:600; color:#f5f591;}
section#feature_area h3{font-weight:700;color:#fff;font-size:50px;text-shadow:0 0 5px #464646;margin:0 0 18px;padding:0;line-height:68px;float:left;width:100%;text-align:left;}
section#feature_area h3.solutiontree{background:url(//www.masteryconnect.com/learn-more/im/st_logo_white.png) no-repeat 75% 10px;}
section#feature_area h4{font-weight:400;color:#fff;font-size:16px;text-shadow:0 0 5px #464646;margin:9px 0 25px;padding:0;line-height:28px;float:left;width:100%;text-align:center;}
section#feature_area h4 b{font-weight:600; color:#f5f591;}
section#feature_area hr, body#features section#feature_area hr{border:0;height:0;width:100%;float:left;clear:both;margin:20px 0;}
section#feature_area p{font-size:1.1em;font-style:normal;letter-spacing:0em;font-weight:400;color:#fff;text-shadow:0 0 5px #464646;margin:0 0 0 32px; padding:0;line-height:20px;width:300px;float:left;text-align:left;}
section#feature_area .getStarted { width:285px; margin:0 auto; }
#features .getStarted *.drk_gry_rnd_btn { width:200px; }
section#feature_area .getStarted p { margin:5px 0 0 0; }

body#thank-you section#feature_area{height:150px;}

section#feature_area .slideDeck { position:relative; float:right; }
section#feature_area #posters{border:14px solid #fff;width:337px;height:223px;-moz-box-shadow:0 0 5px 0 #333;-webkit-box-shadow: 0 0 5px 0 #333;box-shadow:0 0 5px 0 #333;}
section#feature_area #pager{position:absolute; bottom:-15px; left:158px; width:64px;}
section#feature_area #pager a{width:6px;height:6px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius:3px;background-color:#fff;float:left;display:block;margin-right:6px;-moz-box-shadow:0 0 1px 0 #555;-webkit-box-shadow: 0 0 1px 0 #555;box-shadow:0 0 1px 0 #555;}
section#feature_area #pager a.activeSlide{background-color:#b5d485;}

footer#footer_nav { background:#3c3c3c url(//www.masteryconnect.com/learn-more/im/footer_repeat.jpg) repeat center top;border-top:6px solid #000;padding:50px 0;color:#ccc;font-weight:400;}
footer#footer_nav address { float:left;padding:0;margin:0;width:25%;font-style:normal;text-shadow:1px 0px 0px #000;}
footer#footer_nav address a { color:#ccc;text-decoration:none;transition:color 0.3s;-webkit-transition:color 0.3s;}
footer#footer_nav address a:hover { color:#00aced;}
footer#footer_nav address h4 { font-size:14px;font-weight:600;padding:0;margin:0 0 8px;}
footer#footer_nav address h4 strong { font-weight:700;}
footer#footer_nav address p { line-height:1.8725em;margin:0;}
footer#footer_nav address p b { font-weight:400;}
footer#footer_nav nav { float:left;padding:0;margin:0;width:17.25%;text-shadow:1px 0px 0px #000;}
footer#footer_nav nav a { color:#ccc;text-decoration:none;}
footer#footer_nav nav a:hover:after { content:" »";}
footer#footer_nav nav h4 { font-weight:600;padding:0;margin:0 0 8px;}
footer#footer_nav nav ul { padding:0;margin:0;list-style:none;}
footer#footer_nav nav ul li { font-size:1em;line-height:1.8725em;}
footer#footer_nav div#cta { width:23%;float:right;}
footer#footer_nav div#cta a { clear:both;margin:0 0 12px 18px;}
footer#footer_nav div#cta i { font-size:.83em;font-style:normal;font-weight:600;letter-spacing:0.2em;float:left;clear:both;}

footer#sub_footer{background-color:#282828;padding:25px 0;line-height:18px;font-size:11px;font-weight:400;font-style:italic;color:#aaa;text-shadow:0 -1px 0 #000;}

/*-------- Hide the input arrows for webkit ------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input/*Remove button padding in FF*/
{
    padding:.3em;
}

section#request_form h3 {
	font-size: 1.6667em;
	line-height: 1em;
	margin: 0 0 0px;
	padding: 0;
	font-weight: 700;
}

section#request_form h4 {
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 15px;
}

section#request_form {
	width: 80%;
	margin: 100px auto;

}

section#request_form div.inner fieldset.col-a {
		width: 375px;
		float:left;
	}

section#request_form div.inner fieldset.col-b {
		width: 400px;
	}

section#request_form fieldset label span.label {
	width: 147px;
	line-height: 30px;
	font-size: 14px;
	font-weight: 600;
	float: left;
	display: block;
}

element.style {
}

section#request_form fieldset label {
	width: 100%;
	margin: 5px 0;
	padding: 0;
	float: left;
	clear: both;
}

section#request_form fieldset i {
	color: #66FF33;
}

section#request_form textarea {
width: 251px;
height: 145px;
}

section#request_form .helper_text {
	font-size: 12px;
	font-weight: 400;
}
